<section class="iframe-main">
	<div id="left" class="pull-left">
		<div class="box">
			<div class="top">
				<p class="shopping selected">购</p>
				<p class="pause">挂</p>
			</div>
			<div id="shopping">
				<div class="bottom">
					<i class="fa fa-trash delete"></i>
					<button class="pause">挂起</button>
					<button class="pay">收款</button>
				</div>
				<div v-if="cart != false" class="goods" key="cart-goods">
					<ul>
						<li v-for="v in cart">
							<p class="col-sm-3"><img :src="v.img"></p>
							<p class="col-sm-3 goods-name">{{v.name}}</p>
							<div class="col-sm-3 plus-minus" v-if="v.type == 1">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default minus" type="button">-</button>
									</span>
									<input type="text" class="form-control" :value="v.num">
									<span class="input-group-btn">
										<button class="btn btn-default plus" type="button">+</button>
									</span>
								</div>
							</div>
							<div class="col-sm-3 weight" v-if="v.type == 2">
								<input type="text" class="form-control" placeholder="重量(KG)" :value="v.num">
							</div>
							<p class="col-sm-3">{{v.count}}</p>
						</li>
					</ul>
				</div>
				<div v-else class="horizontal-center-center no-goods" key="cart-no-goods">
					<i class="fa fa-shopping-basket"></i>
					<p>没有商品</p>
				</div>
				<div v-if="cart != false" class="count">
					<p class="col-sm-4">合计</p>
					<p class="col-sm-4">{{count.num}}</p>
					<p class="col-sm-4">{{count.price}}</p>
				</div>
			</div>
			<div id="pause">
				<ul>
					<li v-for="v in pauseCount">
						<div class="img">
							<p class="col-sm-2" v-for="img in v.img"><img :src="img"></p>
						</div>
						<div class="count">
							<p class="col-sm-5">合计：<span>￥{{v.price}}</span></p>
							<p class="col-sm-7"><button class="btn btn-info btn-xs recovery">恢复订单</button> <button class="btn btn-danger btn-xs delete">删除订单</button></p>
						</div>
						<div class="num">
							<span>共{{v.num}}件</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="right" class="pull-right">
		<div class="box">
			<div class="top">
				<!-- <button class="member" id="member-button"><i class="fa fa-user"></i>会员</button> -->
				<button class="goods selected" id="goods-button"><i class="fa fa-cubes"></i>商品</button>
				<form class="form-inline">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" id="search" placeholder="搜索商品（中文或者简写）">
							<div class="input-group-addon" id="search-button"><i class="fa fa-search"></i></div>
						</div>
					</div>
				</form>
			</div>
			<div class="main" id="goods">
				<ul>
					<li v-for="v in goods" :data-id="v.id" :data-type="v.type">
						<img :src="v.thumbnail">
						<p class="name">{{v.title}}</p>
						<p class="price">￥<span>{{v.price}}</span>/{{v.unit}}</p>
					</li>
				</ul>
			</div>
			<div class="bottom">
				<ul>
					<li class="selected">全部</li>
					{foreach $category as $v}
					<li data-id="{$v.id}">{$v.name}</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<div class="shade">
			<i class="fa fa-ban horizontal-center-center"></i>
		</div>
	</div>
	<div id="insert-box">
		<form class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="insert" value="2000010523100152" placeholder="请输入商品编码或会员码或手机号">
			</div>
		</form>
	</div>
	<div id="pay">
		<p>请选择支付方式</p>
		<ul class="horizontal-center-center">
			<li>
				<input type="radio" name="pay" value="ali" checked>
				<img src="__IMAGES__/alipay.jpg">
			</li>
			<li>
				<input type="radio" name="pay" value="weixin">
				<img src="__IMAGES__/weixinpay.jpg">
			</li>
		</ul>
		<button class="btn btn-info">确定</button>
	</div>
</section>
{css href="__LIB_CSS__/iCheck.blue.css"}
<script type="text/javascript">
	require(['jquery', 'vue', 'iCheck', 'eh.xhr', 'layer', 'jquery.contextMenu', 'lodash'], function($, Vue){
		var analysisIndex, insertBoxIndex;
		var vm = new Vue({
			el: '.iframe-main',
			data: {
				'goods': '',
				'cart': [],
				'pause': []
			},
			computed:{
				count: function(){
					var count = {
						num: 0,
						price: 0
					};
					for (var i = 0; i < this.cart.length; i++) {
						count.price += parseFloat(this.cart[i].count);
						if (this.cart[i].type == 1) {
							count.num += parseInt(this.cart[i].num);
						}else{
							count.num += 1;
						}
					}
					count.price = count.price.toFixed(2);
					return count;
				},
				pauseCount: function(){
					var pause = [];

					for (var i = 0; i < this.pause.length; i++) {
						var data = {
							img: [],
							num: this.pause[i].length,
							price: 0,
						};

						for (var c = 0; c < this.pause[i].length; c++) {
							if (c < 5) {
								data.img.push(this.pause[i][c].img);
							}
							if (this.pause[i][c].type == 1) {
								data.num += (this.pause[i][c].num - 1);
							}
							data.price += parseFloat(this.pause[i][c].count);
						}

						data.price = data.price.toFixed(2);
						pause.push(data);
					}

					return pause;
				}
			},
			watch: {
				cart: {
					handler: function(){
						var current = $('#left .goods li').length;
						for (var i = 0; i < this.cart.length; i++) {
							this.cart[i].count = (this.cart[i].num * 100 * this.cart[i].price / 100).toFixed(2);
						}
						Vue.nextTick(function () {
							if (current < vm.cart.length) {
								$('#left .goods li:last input').focus();
							}
							if (vm.cart.length == 1) {
								leftGoodsHeight();
							}
						});
					},
					deep: true
				}
			}
		});

		$('input:radio').iCheck({
			radioClass: 'iradio_square-blue',
			increaseArea: '20%'
		});

		$.contextMenu({
			selector: '#shopping .goods li',
			items: {
				deleteGoods: {
					name: '<i class="fa fa-trash"></i>删除当前商品',
					isHtmlName: true
				}
			},
			zIndex: 100000000,
			callback: function(itemKey, opt){
				switch (itemKey){
					case 'deleteGoods':
						var index = opt.$trigger.index();
						vm.cart.splice(index, 1);
				}
			}
		});

		getGoods();
		adaptive();

		$('#right #goods').on('click', 'li', function() {
			var id = $(this).data('id'),
				type = $(this).data('type'),
				cart = {
					id: id,
					img: $(this).find('img').attr('src'),
					name: $(this).find('.name').html(),
					price: $(this).find('.price span').html(),
					num: type == 1 ? 1 : '',
					type: type
				};

			vm.cart.push(cart);
		});

		$('#left .box').on('keyup', '.goods li input', function(){
			var val = $(this).val().replace(/[^\d\.]/g, ''),
				index = $(this).parents('li').index(),
				data = vm.cart[index];

			data.num = val;

			$(this).val(val);

			vm.cart.splice(index, 1, data);
		});

		$('#left .box').on('click', '.goods .plus-minus .minus', function(){
			var index = $(this).parents('li').index(),
				data = vm.cart[index];

			if (data.num == 0) {
				return false;
			}

			data.num -= 1;

			vm.cart.splice(index, 1, data);
		});

		$('#left .box').on('click', '.goods .plus-minus .plus', function(){
			var index = $(this).parents('li').index(),
				data = vm.cart[index];

			data.num += 1;

			vm.cart.splice(index, 1, data);
		});

		$('#left .box .bottom .delete').click(function() {
			layer.confirm('确认删除当前购物车吗？', {icon: 3, title:'提示'}, function(index){
				vm.cart = [];

				layer.close(index);
			});
		});

		$('#left .box .bottom .pause').click(function() {
			if(vm.cart.length == 0){
				layer.alert('当前购物车没有商品！');
				return false;
			}

			layer.confirm('确认挂起此订单吗？', {icon: 3, title:'提示'}, function(index){
				var storage = window.localStorage;
				if(storage.hasOwnProperty('ehCart')){
					var data = JSON.parse(storage.ehCart);
					data.unshift(vm.cart);
					storage.ehCart = JSON.stringify(data);
				}else{
					var data = JSON.stringify([vm.cart]);
					storage.ehCart = data;
				}

				vm.cart = [];
				layer.close(index);
			});
		});

		$('#left .box .bottom .pay').click(function() {
			if(vm.cart.length == 0){
				layer.alert('当前购物车没有商品！');
				return false;
			}

			layer.open({
				type: 1,
				title: '选择支付',
				content: $('#pay'),
				area: '500px'
			});
		});

		$('#left .box .top .shopping').click(function() {
			if ($(this).hasClass('selected')) {
				return false;
			}
			$(this).addClass('selected').siblings().removeClass('selected');

			$('#right .shade').hide();
			$('#left #shopping').show();
			$('#left #pause').hide();
		});

		$('#left .box .top .pause').click(function() {
			if ($(this).hasClass('selected')) {
				return false;
			}
			$(this).addClass('selected').siblings().removeClass('selected');

			var storage = window.localStorage;

			if(storage.hasOwnProperty('ehCart')){
				vm.pause = JSON.parse(storage.ehCart);
			}

			$('#left #shopping').hide();
			$('#left #pause').show();
			$('#right .shade').show();
		});

		$('#pause').on('click', '.delete', function() {
			var storage = window.localStorage;
				index = $(this).parents('li').index(),
				data = JSON.parse(storage.ehCart);

			data.splice(index, 1);
			storage.ehCart = JSON.stringify(data);
			vm.pause = data;
		});

		$('#pause').on('click', '.recovery', function() {
			var storage = window.localStorage;
				index = $(this).parents('li').index(),
				data = JSON.parse(storage.ehCart);

			var cart = data.splice(index, 1);
			storage.ehCart = JSON.stringify(data);
			vm.pause = data;
			vm.cart = cart[0];
			Vue.nextTick(function () {
				leftGoodsHeight();
				$('#left .box .top .shopping').click();
			});
		});

		// $('body').keyup(function(e) {
		// 	if (e.keyCode == 73 && $('#insert-box:hidden').length == 1) {
		// 		insertBoxIndex = layer.open({
		// 			type: 1,
		// 			content: $('#insert-box'),
		// 			title: '编码识别',
		// 			success: function(){
		// 				$('#insert-box input').focus();
		// 			}
		// 		});
		// 	}else if ($('#analysis').length == 1 && e.keyCode == 13) {
		// 		layer.close(analysisIndex);
		// 	}
		// });

		// $('#insert-box').keyup(function(e) {
		// 	e.stopPropagation();

		// 	if (e.keyCode == 13) {
		// 		if ($('#analysis').length == 1) {
		// 			return false;
		// 		}

		// 		var val = $(this).find('input').val();
		// 		if (val) {
		// 			analysisCode(val);
		// 			$(this).find('input').val('');
		// 			layer.close(insertBoxIndex);
		// 		}
		// 	}
		// });

		// $('#insert-box').keydown(function(e) {
		// 	e.stopPropagation();

		// 	if ($.isNumeric(e.key) == false && e.keyCode != 8){
		// 		return false;
		// 	}
		// });

		$('#search').on('keyup', _.debounce(function(){
			var category = $('#right .bottom li.selected').data('id');

			if (!!category !== true) {
				getGoods(false, $(this).val());
			}else{
				getGoods(category, $(this).val());
			}
		}, 500));

		$('#right .bottom li').click(function() {
			var id = $(this).data('id');

			$(this).addClass('selected').siblings().removeClass('selected');

			if (id > 0) {
				getGoods(id);
			}else{
				getGoods();
			}

			$('#search').val('');
		});

		$(window).resize(function() {
			adaptive();
		});

		function adaptive(){
			var rightWidth = $(window).width() - 350 - 10,
				mainHeight = $(window).height() - 110 - 30,
				bottomLiLength = $('.bottom li').length;

			if (bottomLiLength * 100 > rightWidth) {
				mainHeight -= 18;
				$('#right .bottom').height(77);
				$('#right .bottom ul').width(bottomLiLength * 100);
			}else{
				$('#right .bottom').height(59);
				$('#right .bottom ul').width('auto');
			}

			if (rightWidth > 1200) {
				$('#right .main li').css({
					'width': '11.5%',
					'margin': '0 0.5% 1%'
				});
			}else if (rightWidth > 800) {
				$('#right .main li').css({
					'width': '18%'
				});
			}else{
				$('#right .main li').css({
					'width': '23%',
					'margin': '0 1% 2%'
				});
			}

			$('#right').width(rightWidth);
			$('#right .main').height(mainHeight);
			$('#right .shade').height($(window).height());
			$('#left #pause').height($('#left .box').height() - 50);
			leftGoodsHeight();
		}

		function leftGoodsHeight(){
			var leftGoodsHeight = $('#left .box').height() - 160 - 15;
			$('#left .box').find('.goods').height(leftGoodsHeight);
		}

		function getGoods(category, keyword){
			var index = eh.xhr.loadPrompt({
				'type': 'get'
			}),
				where = {};

			if (!category && keyword) {
				where = {'keyword': keyword};
			}else if (category && keyword) {
				where = {'category': category, 'keyword': keyword};
			}else if (category) {
				where = {'category': category};
			}

			$.post('/cashier/getgoods.html', where, function(data){
				eh.xhr.layerClose(index);
				vm.goods = data.data;
			});
		}

		function analysisCode(val){
			//1开头的为手机号，2开头的为商品，8开头的为会员卡，9开头的为优惠券。
			var first = val[0];
			if (first == 1 && val.length == 11) {
				eh.xhr.getCommon('/cashier/member.html', {'phone': val}, {fn: member});
			}else if (first == 2 && val.length == 16){
				var reg = /(\d{1})(\d{5})(\d{5})(\d{5})/,
					res = val.match(reg),
					goodsID = parseInt(res[2]),
					price = res[3],
					weight = res[4];

				eh.xhr.getCommon('/cashier/goods.html', {id: goodsID}, {fn: goods});
			}else if (first == 8) {
				eh.xhr.getCommon('/cashier/member.html', {'code': val}, {fn: member});
			}else if (first == 9) {

			}else{
				analysisError();
			}
		}

		function analysisError(str){
			analysisIndex = layer.alert(str || "无法识别", {icon: 1, id: 'analysis'});
		}

		function member(response){

		}

		function goods(response){
			
		}
	});
</script>