<header>
	<div class="pull-left">
		<button class="btn btn-danger" id="add-category">新增文章分类</button>
	</div>
</header>
<section class="iframe-main">
	<div id="crumbs">
		当前位置：<a href="{:url('admin/ArticleCategory/index')}">文章分类</a>{notempty name="parentName"} > {$parentName}{/notempty}
	</div>
	<div id="categories" data-parent-id = "{$parentID}">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th width="10%">编号</th>
					<th width="40%">分类名称</th>
					{eq name="parentID" value="0"}
					<th width="25%">子分类</th>
					{/eq}
					<th width="25%">操作</th>
				</tr>
			</thead>
			<tbody>
				{foreach $category as $v}
					<tr>
						<td>{$v.id}</td>
						<td>{$v.name}</td>
						{eq name="parentID" value="0"}
						<td>
							<a href="{:url('admin/ArticleCategory/index', ['parent_id' => $v.id])}" class="btn btn-primary btn-sm">查看子分类</a>
							<button class="btn btn-danger btn-sm add-child-category" data-parent-id="{$v.id}">添加子分类</button>
						</td>
						{/eq}
						<td>
							<button class="btn btn-warning btn-sm">编辑</button>
							<button class="btn btn-danger btn-sm">删除</button>
						</td>
					</tr>
				{/foreach}
			</tbody>
		</table>
		<div id="list-pages">
			{$category->render()}
		</div>
	</div>
</section>
<div id="add-category-tpl">
	<div class="container-fluid">
		<div class="row">
			<form class="form-horizontal" method="post" action="/admin/article_category.html">
				<input type="hidden" value="0" id="parent-id" name="parent_id">
				{neq name="parentID" value="0"}<input type="hidden" value="1" name="is_child">{/neq}
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label"><span class="red">*</span>分类名称：</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="name" id="name" placeholder="请输入分类名称">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-3">
						<button class="btn btn-danger">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	require(['jquery', 'layer', 'eh.xhr'], function(){
		$('#add-category').click(function() {
			openAddCategory(0);
		});

		$('.add-child-category').click(function(){
			var parentID = $(this).data('parent-id');
			openAddCategory(parentID);
		});

		function openAddCategory(parentID){
			layer.open({
				type: 1,
				area: '60%',
				title: false,
				content: $('#add-category-tpl'),
				success: function(layero){
					layero.find('#parent-id').val(parentID);
				}
			});
		}
	});
</script>