<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{$metaTitle | default='ehcms内容管理系统'}</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
	<link rel="stylesheet" type="text/css" href="__LIB_CSS__/jquery.contentMenu.custom.css" />
</head>
<body class="desktop">
	<div id="desktop-icon">
		<ul>
			<li data-module="xxx"><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
		</ul>
	</div>
	<div id="taskbar">
		<div class="box">
			<div class="list">
				<ul></ul>
			</div>
			<div class="start"></div>
			<div class="taskbar-right">
				<div class="time"><p>时间</p><p>日期</p></div>
				<div class="back-desktop"></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="http://cdn.bootcss.com/require.js/2.2.0/require.min.js" charset="utf-8"></script>
<script type="text/javascript">
	require.config({
		baseUrl: '__LIB_JS__',
		paths: {
			admin: '__JS__',
			layer: 'layer/layer.init',
			jquery: [
				'http://cdn.bootcss.com/jquery/1.12.4/jquery.min',
				'jquery/jquery.min'
			],
			'jquery.contextMenu': [
				'http://cdn.bootcss.com/jquery-contextmenu/2.2.3/jquery.contextMenu.min',
				'jquery/jquery.contextMenu.min'
			],
			'layer.min': [
				'http://cdn.bootcss.com/layer/2.3/layer',
				'layer/layer.min'
			],
			'lodash': [
				'http://cdn.bootcss.com/lodash.js/4.13.1/lodash.min',
				'loadsh.min'
			]
		}
	});

	require(['admin/index']);
</script>
<script type="text/html" id="menu-tree">
	<div class="menu-tree open">
		<div class="logo">
			<img src="__IMAGES__/logo_default.png">
		</div>
		<ul class="level-1">
			{{# for(var i = 0, len = d.length; i < len; i++){ }}
				<li>
					<div class="row">
						<i class="fa fa-plus-circle"></i>
						<span>d[i].name</span>
					</div>
					{{# if(d[i].child){ }}
						<ul class="level-2">
							{{# for(var c = 0, cLen = c.length; c < cLen; c++){ }}
								<li data-url = 'http://www.baidu.com'>
									<div class="row">
										<i class="fa fa-plus-circle"></i>
										<span>百度</span>
									</div>
								</li>
							{{# } }}
						</ul>
					{{# } }}
				</li>
			{{# } }}
		</ul>
	</div>
</script>
</html>