<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{$metaTitle | default='ehcms内容管理系统'}</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
	<link rel="stylesheet" type="text/css" href="__LIB_CSS__/jquery.contentMenu.custom.css" />
</head>
<body class="desktop">
	<div id="desktop-icon">
		<ul>
			<li data-url="/admin/index/test.html"><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
			<li><div class="icon-img"><img src="__IMAGES__/computer.png" /></div><div class="icon-name"><span>我的电脑</span></div></li>
		</ul>
	</div>
	<div id="taskbar">
		<div class="box">
			<div class="list">
				<ul></ul>
			</div>
			<div class="start"></div>
			<div class="taskbar-right">
				<div class="time"><p>时间</p><p>日期</p></div>
				<div class="back-desktop"></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="http://cdn.bootcss.com/require.js/2.2.0/require.min.js" charset="utf-8"></script>
<script type="text/javascript">
	require.config({
		baseUrl: '__LIB_JS__',
		paths: {
			admin: '__JS__',
			layer: 'layer/layer.init',
			jquery: [
				'http://cdn.bootcss.com/jquery/1.12.4/jquery.min',
				'jquery/jquery.min'
			],
			'jquery.contextMenu': [
				'http://cdn.bootcss.com/jquery-contextmenu/2.2.3/jquery.contextMenu.min',
				'jquery/jquery.contextMenu.min'
			],
			'layer.min': [
				'http://cdn.bootcss.com/layer/2.3/layer',
				'layer/layer.min'
			],
			'lodash': [
				'http://cdn.bootcss.com/lodash.js/4.13.1/lodash.min',
				'loadsh.min'
			]
		}
	});

	require(['admin/index']);
</script>
</html>