<header>
	<div class="pull-left">
		<button class="btn btn-success" id="header-button-submit-form">添加模块</button>
	</div>
</header>
<section class="iframe-main">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th width="15%">编号</th>
				<th width="20%">模块名称</th>
				<th width="15%">模块图标</th>
				<th width="30%">已绑定菜单</th>
				<th width="20%">操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach $module as $v}
			<tr>
				<td>{$v.id}</td>
				<td>{$v.name}</td>
				<td>{$v.icon}</td>
				<td>{$v.menus}</td>
				<td>
					<button class="btn btn-warning" data-id="{$v.id}">编辑</button>
					<button class="btn btn-danger" data-id="{$v.id}">删除</button>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	<div id="list-pages">
		{$member->render()}
	</div>
</section>

<script type="text/javascript">
</script>