#admin-adminGroup-editor{
	.panel{
		width: 90%;
		margin: 20px auto 0;
	}

	table{
		th, td{
			text-align: center;
		}
		td{
			vertical-align: middle;
			img{
				width: 25px;
				height: 25px;
				margin-right: 10px;
			}
		}
	}
}