.container-fluid{
	background-color: #e9e9e9;
	padding: 0;
	.row{
		margin: 0;
	}
}
.webuploader-pick{
	padding: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
header{
	width: 100%;
	padding: 16px 15px;
	overflow: hidden;
	background-color: #FFF;
	.clearfix;
	> div.pull-left, > div.pull-right{
		font-size: 0;
		button{
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
#list-pages{
	background-color: #FFF;
	padding: 20px 15px 0 0;
	text-align: right;
}
form{
	.help-block{
		margin-bottom: 0;
	}
	em.help-block{
		font-style: normal;
	}
}
.fa{
	//当字体图标和bootstrap中带有行高的样式有冲突。
	&.form-control-feedback{
		line-height: 34px !important;
	}
}

//bootstrap验证成功样式修改。
.has-success{
	//去除表单输入框前面描述在验证通过的情况下文字颜色。
	.control-label{
		color: inherit;
	}
}

.has-error{
	.form-markdown-left, .form-markdown-right{
		p{
			color: @state-danger-text;
		}
	}
}

.form-markdown-left{
	position: relative;
	.pull-left;
	.form-control-feedback{
		right: 0 !important;
		top: 33px;
	}
}
.form-markdown-right{
	.pull-right;
}
.form-markdown-left, .form-markdown-right{
	width: 49%;
	p{
		padding: 7px 0;
	}
}