.container-fluid{
	background-color: #e9e9e9;
	padding: 0;
	.row{
		margin: 0;
	}
}
.webuploader-pick{
	padding: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
header{
	width: 100%;
	padding: 16px 15px;
	overflow: hidden;
	background-color: #FFF;
	.clearfix;
	> div.pull-left, > div.pull-right{
		font-size: 0;
		button{
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
#list-pages{
	background-color: #FFF;
	padding: 20px 15px 0 0;
	text-align: right;
}