/**
 * 文章模块后台样式
 */
#article-admin-index{
	.list-main{
		width:100%;
		li{
			width: 100%;
			background-color: #FFF;
			margin-bottom: 10px;
			img{
				width: 100%;
				height: auto;
			}
			span{
				display: block;
			}
		}
	}
}