/**
 * 文章模块后台样式
 */

/**
 * 文章列表
 */
#admin-article-index{
	.list-header{
		width: 100%;
		ul{
			background-color: #FFF;
			li{
				padding: 10px 0;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				border-left: 1px solid #ccc;
				font-weight: bold;
				&:first-child{
					border-left:none;
				}
			}
		}
	}
	.list-main{
		ul{
			margin: 10px 0;
		}
		li{
			background-color: #FFF;
			margin-bottom: 10px;
			padding: 15px 0;
			position: relative;
			&:last-child{
				margin-bottom: 0;
			}
			.number, .add-time{
				margin-bottom: 15px;
				padding-bottom: 10px;
				border-bottom: 1px dashed #ccc;
			}
			img{
				width: 100%;
				height: auto;
			}
			span{
				position: relative;
				&.title, &.description{
					display: block;
					line-height: 24px;
				}
				&.description{
					height: 50px;
					margin-top: 5px;
					overflow: hidden;
				}
				&.title{
					strong{
						font-size: 16px;
					}
				}
			}
			.keywords{
				position: absolute;
				left: 0;
				bottom: 20px;
				padding: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.button{
				position: absolute;
				right: 20px;
				bottom: 15px;
			}
		}
	}
}

/**
 * 文章新建与修改
 */
#admin-article-create{
	#markdown{
		resize: none;
	}
	#html-preview{
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		.html-content{
			padding: 6px 12px;
			overflow: hidden;
			display: block;
		}
	}
}