#admin-documentCategory-index{
	.iframe-main{
		padding: 0 15px;
		#crumbs{
			background-color: #eee;
			border-radius: 5px;
			margin-bottom: 20px;
			margin-top: 10px;
			padding: 10px 0 10px 10px;
			a{
				color: #23527c;
			}
		}
		th, td{
			text-align: center;
		}
		td{
			line-height: 30px;
			&:nth-child(2){
				text-align: left;
			}
		}
	}
}