#admin-document-index{
	.iframe-main{
		padding: 15px 0;
		.document{
			margin-bottom: 30px;
			img{
				border: 1px solid #f3f3f3;
				width: 100%;
			}
			p{
				font-size: 16px;
				width: 100%;
				overflow: hidden;
				white-space:nowrap;
				text-overflow:ellipsis;
				padding: 5px 0;
			}
		}
		#operation{
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			left: 0;
			top: 0;
			transition: left 0.5s, top 0.5s;
			-moz-transition: left 0.5s, top 0.5s;
			-webkit-transition: left 0.5s, top 0.5s;
			-o-transition: left 0.5s, top 0.5s;
			display: none;
		}
	}
}

#admin-documentCategory-index{
	.iframe-main{
		padding: 0 15px;
		#crumbs{
			background-color: #eee;
			border-radius: 5px;
			margin-bottom: 20px;
			margin-top: 10px;
			padding: 10px 0 10px 10px;
			a{
				color: #23527c;
			}
		}
		th, td{
			text-align: center;
		}
		td{
			line-height: 30px;
			&:nth-child(2){
				text-align: left;
			}
		}
	}
}