#admin-document-index{
	.iframe-main{
		> .row{
			padding: 15px 0;
		}
		.document{
			margin-bottom: 30px;
			img{
				border: 1px solid #f3f3f3;
				width: 100%;
			}
			p{
				font-size: 14px;
				width: 100%;
				overflow: hidden;
				white-space:nowrap;
				text-overflow:ellipsis;
				padding: 5px 0;
			}
		}
		#operation{
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			left: 0;
			top: 0;
			transition: left 0.5s, top 0.5s;
			-moz-transition: left 0.5s, top 0.5s;
			-webkit-transition: left 0.5s, top 0.5s;
			-o-transition: left 0.5s, top 0.5s;
			display: none;
			i{
				position: absolute;
				color: #FFF;
				cursor: pointer;
			}
		}
		#pages{
			text-align: center;
		}
	}
	.create-tpl{
		background-color: #FFF;
		form{
			> div.form-group{
				.hr-line-dashed;
				&:first-child{
					padding-top: 0;
				}
			}
		}
		.submit{
			padding-left: 7px;
			padding-top: 20px;
			button{
				padding: 6px 40px;
			}
		}
	}
}

#admin-document-editor{
	#editor > .row{
		height: 100%;
		border-top: 1px solid #ddd;
		> div{
			height: 100%;
			background-color: #FFF;
			overflow-x: hidden;
			overflow-y: auto;
		}
		#list{
			border-right: 1px solid #ddd;
			padding: 0;
			.top{
				height: 35px;
				border-bottom: 1px solid #ddd;
				margin-bottom: 10px;
				.pull-left, .pull-right{
					line-height: 35px;
				}
				.pull-left{
					padding: 0 20px;
					border-right: 1px solid #ddd;
					height: 36px;
					background-color: #FFF;
				}
				.pull-right{
					padding-right: 10px;
					cursor: pointer;
				}
			}
		}
		#items{
			.context-menu-active{
				.jstree-wholerow{
					background-color: #F2F2F2;
				}
			}
			.jstree-wholerow{
				height: 30px;
				&-hovered{
					background-color: #F2F2F2;
				}
				&-clicked{
					background: none;
					background-color: #E5E5E5 !important;
				}
			}
			.jstree-anchor{
				height: 30px;
				line-height: 30px;
			}
		}
		#setting{
			border-left: 1px solid #ddd;
			padding: 0;
			.red{
				vertical-align: sub;
			}
			.top{
				height: 35px;
				border-bottom: 1px solid #ddd;
				margin-bottom: 10px;
				.pull-right{
					line-height: 35px;
					padding: 0 20px;
					border-left: 1px solid #ddd;
					height: 36px;
					background-color: #FFF;
				}
			}
		}
	}

	#add-item-tpl{
		display: none;
		background-color: #FFF;
		form .form-group{
			.hr-line-dashed;
			&:first-child{
				padding-top: 0;
			}
			&:nth-last-child(1){
				border-bottom: none;
			}
		}
	}
}

#admin-documentCategory-index{
	.iframe-main{
		padding: 0 15px;
		#crumbs{
			background-color: #eee;
			border-radius: 5px;
			margin-bottom: 20px;
			margin-top: 10px;
			padding: 10px 0 10px 10px;
			a{
				color: #23527c;
			}
		}
		th, td{
			text-align: center;
		}
		td{
			line-height: 30px;
			&:nth-child(2){
				text-align: left;
			}
		}
	}
}