#admin-resource-index{
	.layui-layer-content{
		border-radius: 10px;
	}
	.iframe-main{
		.resource-list{
			height: 100%;
			.resource-group{
				width: 20%;
				min-width: 200px;
				margin-right: 10px;
				border-right: 1px solid #e7e7eb;
				height: 100%;
				position: relative;
				overflow-x: hidden;
				overflow-y: auto;
				ul{
					li{
						width: 100%;
						padding: 10px 15px;
						cursor: pointer;
						&.active, &:hover{
							background-color: #f4f5f9;
						}
					}
				}
				#add-group{
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 15px;
					border-top: 1px solid #e7e7eb;
					button{
						padding: 5px 60px;
					}
				}
			}
		}
	}
}


#admin-resource-uploader{
	.webuploader-pick, .webuploader-pick-hover{
		background-color: inherit;
	}
	header{
		.progress{
			display: none;
			margin-top: 10px;
			margin-bottom: 0;
			.progress-bar{
				min-width: 35px;
			}
		}
		.progress-info{
			margin-top: 5px;
			display: none;
		}
		h5{
			margin-left: 10px;
		}
		#restart-all, #delete-error-all{
			display: none;
		}
	}
	.iframe-main{
		#tip{
			text-align: center;
			.horizontal-center-center;
		}
		#uploader{
			padding: 15px;
			ul{
				li{
					height: 140px;
					width: 100%;
					overflow: hidden;
					padding: 10px 0;
					border-bottom: 1px dashed #ccc;
					position: relative;
					.img-box{
						margin-right: 20px;
						position: relative;
						width: 120px;
						height: 120px;
						overflow: hidden;
						img{
							.horizontal-center-center;
						}
					}
					p{
						line-height: 30px;
						span{
							&.success{
								color: #4cae4c
							}
							&.fail{
								color: #d43f3a;
							}
						}
					}
					.pull-right{
						line-height: 120px;
						.restart{
							display: none;
						}
					}
					.li-progress{
						position: absolute;
						top: 0;
						left: 0;
						height: 140px;
						width: 100%;
						display: none;
						.li-progress-bar{
							height: 100%;
							width: 10%;
							opacity: 0.5;
							background-color: #337ab7;
							-webkit-transition: width 1.5s ease;
							-o-transition: width 1.5s ease;
							transition: width 1.5s ease;
						}
					}
				}
			}
		}
	}
}