#admin-resource-index{
	.webuploader-pick, .webuploader-pick-hover{
		background-color: inherit;
	}

	.iframe-main{
		padding: 0 15px;
		#tip{
			text-align: center;
			.horizontal-center-center;
		}
		#uploader{
			ul{
				li{
					height: 140px;
					width: 100%;
					overflow: hidden;
					padding: 10px 0;
					border-bottom: 1px dashed #ccc;
					img{
						height: 120px;
						width: 120px;
						margin-right: 20px;
					}
					p{
						line-height: 30px;
					}
					.pull-right{
						line-height: 120px;
					}
				}
			}
		}
	}
}