<section class="iframe-main">
	<div class="row">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th width="20%">名称</th>
					<th width="50%">值</th>
					<th width="30%">关键词</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>网站名称</td>
					<td><input type="text" name="site_name" class="form-control" value="{$systemSetting.site_name}"></td>
					<td>site_name</td>
				</tr>
				<tr>
					<td>网站URL</td>
					<td><input type="text" name="site_url" class="form-control" value="{$systemSetting.site_url}"></td>
					<td>site_url</td>
				</tr>
				<tr>
					<td>编辑器选择</td>
					<td><input type="radio" name="editor_type" value="plain" {eq name="systemSetting.editor_type" value="plain"}checked{/eq}>富文本<input type="radio" name="editor_type" value="markdown" {eq name="systemSetting.editor_type" value="markdown"}checked{/eq}>Markdown</td>
					<td>editor_type</td>
				</tr>
				<tr>
					<td>是否开通管理员注册</td>
					<td>
						<input type="checkbox" name="is_admin_register" class="switch" data-on-text="是" data-off-text="否" data-off-color="success" {notempty name="systemSetting.is_admin_register"}{eq name="systemSetting.is_admin_register" value="1" }checked{/eq}{/notempty}>
					</td>
					<td>is_admin_register</td>
				</tr>
				<tr class="admin-register">
					<td>管理员注册是否需要审核</td>
					<td>
						<input type="checkbox" name="is_admin_register_check" class="switch" data-on-text="是" data-off-text="否" data-off-color="success" {notempty name="systemSetting.is_admin_register_check"}{eq name="systemSetting.is_admin_register_check" value="1" }checked{/eq}{else/}checked{/notempty}>
					</td>
					<td>is_admin_register_check</td>
				</tr>
				<tr class="admin-register">
					<td>管理员注册名称</td>
					<td><input type="text" name="admin_register_name" class="form-control" value="{notempty name="systemSetting.admin_register_name"}{$systemSetting.admin_register_name}{/notempty}"></td>
					<td>admin_register_name</td>
				</tr>
				<tr class="admin-register">
					<td>管理员默认权限</td>
					<td><input type="text" name="admin_register_permission" class="form-control" value="{notempty name="systemSetting.admin_register_permission"}{$systemSetting.admin_register_permission}">{/notempty}"></td>
					<td>admin_register_permission</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
{css href="__LIB_CSS__/iCheck.blue.css,https://cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css,https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css"}
<script type="text/javascript">
	require(['jquery', 'layer', 'iCheck', 'eh.xhr', 'bootstrap', 'bootstrap-select-zh', 'switch'], function(){
		$('input:radio').iCheck({
			radioClass: 'iradio_square-blue',
			increaseArea: '20%'
		});

		$('.switch').bootstrapSwitch();

		$('input[name="is_admin_register"]').on('switchChange.bootstrapSwitch', function(event, state) {
			if (state == true) {
				$('.admin-register td').css({
					'border': 'none'
				});
				$('.admin-register').animateCss('rubberBand', function(){
					$('.admin-register td').css({
						'border': '1px solid #ddd'
					});
				}).show();
			}else{
				$('.admin-register td').css({
					'border': 'none'
				});
				$('.admin-register').animateCss('rubberBand', function(){
					$('.admin-register td').css({
						'border': '1px solid #ddd'
					});
					$('.admin-register').hide();
				});
			}
		});

		$('input:text').change(function() {
			var key = $(this).attr('name'),
				value = $(this).val();

			edit(key, value);
		});

		$('input').on('ifChecked', function(event){
			var key = $(this).attr('name'),
				value = $(this).val();

			edit(key, value);
		});

		function edit(key, value){
			eh.xhr.put('/admin/setting/systemEdit.html', {key: key, value:value}, {
				success: function(response){
					layer.msg('更新成功', {skin: 'layui-layer-hui', anim: 2});
				}
			});
		}
	});
</script>