<header>
	<div class="pull-left">
		<button class="btn btn-danger" id="save">保存</button>
	</div>
	<div class="pull-right">
		<button class="btn btn-success" id="close">关闭</button>
	</div>
</header>
<section class="iframe-main" id="editor" data-id="{$id}">
	<div class="row">
		<div class="col-sm-2" id="list">
			<div class="top">
				<div class="pull-left"><i class="fa fa-bars"></i>目录</div>
				<div class="pull-right"><i class="fa fa-plus-square" data-toggle="tooltip" data-placement="left" title="添加顶级目录/章节" id="add-item"></i></div>
			</div>
			<div id="items"></div>
		</div>
		<div class="col-sm-7" id="detail"></div>
		<div class="col-sm-3" id="setting">
			<div class="top">
				<div class="pull-right"><i class="fa fa-cogs"></i><span></span></div>
			</div>
			<div id="setting-form">
				<form></form>
			</div>
		</div>
	</div>

	<div id="add-item-tpl">
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label"><span class="red">*</span>名称：</label>
					<div class="col-sm-7">
						<input type="name" class="form-control" name="name" id="name" placeholder="请输入名称（填写数字且类型为文章自动识别文章名）">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"><span class="red">*</span>类型选择：</label>
					<div class="col-sm-7">
						<input type="checkbox" name="type" checked data-on-color="info" data-off-color="success" data-on-text="文章" data-off-text="目录">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="update-item-tpl">
		
	</div>
</section>

<script type="text/html" id="add-item-article">
	<div class="form-group">
		<label for="article-id" class="control-label"><span class="red">*</span>文章编号：</label>
		<input type="text" class="form-control" id="article-id" name="article_id" value="{{d.article_id}}">
	</div>
	<button class="btn btn-danger" type="submit">修改文章配置</button>
</script>
<script type="text/html" id="add-item-catalog">
	<div class="form-group">
		<label for="article-id" class="control-label">目录概述：</label>
		<textarea name="summary" placeholder="请输入目录概述"></textarea>
	</div>
	<div class="form-group">
		<label for="article-id" class="control-label">目录概述图：</label>
		<div class="input-group">
			<span class="input-group-btn logo-uploader">
				<button class="btn btn-info" href="javascript:void();" type="button">上传概述图</button>
			</span>
			<input class="form-control" type="text" id="summary-picture" placeholder="点击左侧按钮上传概述图" readonly />
			<input type="hidden" name="summary_picture" id="summary-picture-url">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label"><span class="red">*</span>显示目录：</label>
		<input type="checkbox" name="show_children_catalog" checked data-on-color="success" data-on-text="是" data-off-text="否">
	</div>
	<button class="btn btn-danger" type="submit">修改目录配置</button>
</script>
{css href="http://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css,http://cdn.bootcss.com/jstree/3.3.4/themes/default/style.min.css"}
<script type="text/javascript">
	require(['jquery', 'switch', 'jstree', 'laytpl', 'jquery.contextMenu', 'bootstrap', 'eh.form', 'eh.xhr', 'highlight'], function($, bootstrapSwitch, jstree, laytpl){
		$('[data-toggle="tooltip"]').tooltip();
		
		$(':checkbox').bootstrapSwitch();

		$('#close').click(function(){
			parent.eh.openParentSidebar();
			parent.layer.close(parent.layer.getFrameIndex(window.name));
		});

		$.contextMenu({
			selector: 'li.jstree-node[data-type="2"]',
			items: {
				createChild: {
					name: '<i class="fa fa-pencil-square"></i>创建子目录/文章',
					isHtmlName: true
				},
				sep1: "---------",
				delete: {
					name: '<i class="fa fa-trash"></i>删除目录',
					isHtmlName: true
				}
			},
			zIndex: 100000000,
			callback: function(itemKey, opt){
				switch (itemKey){
					case 'createChild':
						addWindow(this);
						break;
					case 'delete':
						break;
				}
			}
		});

		$.contextMenu({
			selector: 'li.jstree-node[data-type="1"]',
			items: {
				delete: {
					name: '<i class="fa fa-trash"></i>删除文章',
					isHtmlName: true
				}
			},
			zIndex: 100000000,
			callback: function(itemKey, opt){
				switch (itemKey){
					case 'delete':
						break;
				}
			}
		});

		var documentID = $('#editor').data('id'),
			items,
			itemsData;
		eh.xhr.post('/document/getItems.html', {document_id : documentID}, {
			'success': function(response){
				itemsData = response.data.items || {};

				items = $.jstree.create('#items', {
					'core': {
						'data': itemsData,
						'check_callback': true,
						'themes': {
							'icons': false
						},
						'multiple' : false
					},
					'plugins': ['wholerow']
				});

				items.element.on('select_node.jstree', function(node, selected) {
					var type = selected.node.li_attr['data-type'],
						reg = /\d+/,
						id = reg.exec(selected.node.id)[0];

					if (type == 1) {
						$('#setting .top span').html('文章配置');

						eh.xhr.post('/document/getArticle.html', {'id': id}, {
							'success': function(response){
								$('#detail').html(response.data.content);
								laytpl($('#add-item-article').html()).render(response.data, function(render){
									$('#setting-form form').html(render);
								});
							}
						});
					}else if (type ==2) {
						$('#setting .top span').html('目录配置');
					}
				});
			}
		});
		
		$('#add-item').click(function() {
			addWindow();
		});


		function addWindow(par){
			layer.open({
				type: 1,
				area: '50%',
				title: false,
				content: $('#add-item-tpl'),
				btn: '提交',
				yes: function(index){
					var extend = [
						{'name': 'document_id', 'value': documentID}
					];

					if (par) {
						var reg = /\d+/,
							parentID = reg.exec(par.attr('id'))[0];

						extend.push({
							'name': 'parent_id',
							'value': parentID
						})
					}

					var data = eh.form.extractData(
						{
							returnType: 'all',
							extend: extend
						},
						'#add-item-tpl form'
					);

					eh.xhr.post('/document/addItem.html', data.param, {
						'success': function(response){
							layer.close(index);
							layer.msg(response.msg, {'icon': 6});

							var res = response.data;
							if (res.id > 0) {
								items.create_node(par ? par : "#", {id: 'tree' + res.id, 'text': response.data.name ? response.data.name : data.json.name, 'li_attr': {'data-type': data.json.type == 'on' ? 1 : 2}}, 'last', function(node){
									items.deselect_all();
									items.select_node(node);
								});
							}
						}
					});
					return false;
				}
			});
		}
	});
</script>