<header>
	<div class="pull-left">
		<button class="btn btn-danger" id="save">保存</button>
	</div>
	<div class="pull-right">
		<button class="btn btn-success" id="close">关闭</button>
	</div>
</header>
<section class="iframe-main" id="editor" data-id="{$id}">
	<div class="row">
		<div class="col-sm-3" id="list">
			<div class="top">
				<div class="pull-left"><i class="fa fa-bars"></i>目录</div>
				<div class="pull-right"><i class="fa fa-plus-square" data-toggle="tooltip" data-placement="left" title="添加顶级目录/章节" id="add-item"></i></div>
			</div>
			<div id="items"></div>
		</div>
		<div class="col-sm-6" id="detail">

		</div>
		<div class="col-sm-3" id="setting">

		</div>
	</div>

	<div id="add-item-tpl">
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label"><span class="red">*</span>名称：</label>
					<div class="col-sm-7">
						<input type="name" class="form-control" name="name" id="name" placeholder="请输入名称（目录名称或文章的显示名称）">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"><span class="red">*</span>类型选择：</label>
					<div class="col-sm-7">
						<input type="checkbox" name="type" checked data-on-color="info" data-off-color="success" data-on-text="文章" data-off-text="目录">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<script type="text/html" id="add-item-article">
	<div class="form-group">
		<label for="article-id" class="col-sm-3 control-label"><span class="red">*</span>文章编号：</label>
		<div class="col-sm-7">
			<input type="text" class="form-control" id="article-id" name="article_id" placeholder="请输入文章的编号">
		</div>
	</div>
</script>
<script type="text/html" id="add-item-catalog">
	<div class="form-group">
		<label for="article-id" class="col-sm-3 control-label">目录概述：</label>
		<div class="col-sm-7">
			<textarea name="summary" placeholder="请输入目录概述"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="article-id" class="col-sm-3 control-label">目录概述图：</label>
		<div class="col-sm-7">
			<div class="input-group">
				<span class="input-group-btn logo-uploader">
					<button class="btn btn-info" href="javascript:void();" type="button">上传概述图</button>
				</span>
				<input class="form-control" type="text" id="summary-picture" placeholder="点击左侧按钮上传概述图" readonly />
				<input type="hidden" name="summary_picture" id="summary-picture-url">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="red">*</span>显示目录：</label>
		<div class="col-sm-7">
			<input type="checkbox" name="show_children_catalog" checked data-on-color="success" data-on-text="是" data-off-text="否">
		</div>
	</div>
</script>
{css href="http://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css,http://cdn.bootcss.com/jstree/3.3.4/themes/default/style.min.css"}
<script type="text/javascript">
	require(['jquery', 'switch', 'jstree', 'bootstrap', 'eh.form', 'eh.xhr'], function($, bootstrapSwitch, jstree){
		$('[data-toggle="tooltip"]').tooltip();
		
		$(':checkbox').bootstrapSwitch();

		$('#close').click(function(){
			parent.eh.openParentSidebar();
			parent.layer.close(parent.layer.getFrameIndex(window.name));
		});

		var documentID = $('#editor').data('id'),
			items,
			itemsData;
		eh.xhr.post('/admin/document/getItems.html', {document_id : documentID}, {
			'success': function(response){
				itemsData = response.data.items || {};

				items = $.jstree.create('#items', {
					'core': {
						'data': itemsData,
						'check_callback': true,
						'themes': {
							'icons': false
						},
						'multiple' : false
					},
					'plugins': ['wholerow']
				});
			}
		});
		
		$('#add-item').click(function() {
			layer.open({
				type: 1,
				area: '50%',
				title: false,
				content: $('#add-item-tpl'),
				btn: '提交',
				yes: function(index){
					var data = eh.form.extractData(
						{
							returnType: 'all',
							extend: [
								{'name': 'document_id', 'value': documentID}
							]
						},
						'#add-item-tpl form'
					);

					eh.xhr.post('/admin/document/addItem.html', data.param, {
						'success': function(response){
							layer.close(index);
							layer.msg(response.msg);

							var res = response.data;
							if (res.id > 0) {
								items.create_node("#", {id: 'tree' + res.id, 'text': data.json.name}, 'last', function(node){
									items.select_node(node);
								});
							}
						}
					});
					return false;
				}
			});
		});
	});
</script>