<section class="iframe-main">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th width="20%">编号</th>
				<th width="20%">模块名称</th>
				<th width="25%">权限组名称</th>
				<th width="35%">操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach $group as $v}
			<tr>
				<td>{$v.id}</td>
				<td>{$v.module.name}</td>
				<td>{$v.name}</td>
				<td>
					<button class="btn btn-warning" data-id="{$v.id}">编辑</button>
					<button class="btn btn-danger" data-id="{$v.id}">删除</button>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	<div id="pages" class="col-sm-12">
		{$group->render()}
	</div>
</section>

<script type="text/javascript">
</script>