<header>
	<div class="pull-left">
		<button class="btn btn-primary" id="open-uploader">上传新文件</button>
		<button class="btn btn-info" id="select-all">全选</button>
		<button class="btn btn-info" id="cancel-all">取消选择</button>
		<button class="btn btn-danger" id="delete-all">删除选中资源</button>
	</div>
	<div class="pull-right">
		{notempty name="iframe"}<button class="btn btn-danger" id="close-iframe">关闭资源空间</button>{/notempty}
	</div>
</header>
<section class="iframe-main">
	<div class="resource-list">
		<div class="pull-left resource-group">
			<ul>
				<li {eq name="groupID" value="all"}class="active"{/eq} data-id="all"><a href="/admin/resource/index/group/all.html">全部资源({$count})</a></li>
				<li {eq name="groupID" value="0"}class="active"{/eq} data-id="0"><a href="/admin/resource/index/group/0.html"><span class="menu-click"><span class="name">未分组</span>(<span class="count">{$notGroupedCount}</span>)</span></a></li>
				{foreach $group as $v}
					<li {eq name="groupID" value="$v.id"}class="active"{/eq} data-id="{$v.id}"><a href="/admin/resource/index/group/{$v.id}.html"><i class="fa {notempty name="v.children"}fa-plus-square{else /}fa-minus-square{/notempty}"></i><span class="menu-click"><span class="name">{$v.name}</span>(<span class="count">{$v.count}</span>)</span></a>
					{notempty name="v.children"}
						<ul class="children">
							{foreach $v.children as $vc}
							<li {eq name="groupID" value="$vc.id"}class="active"{/eq} data-id="{$vc.id}"><a href="/admin/resource/index/group/{$vc.id}.html"><span class="menu-click"><span class="name">{$vc.name}</span>(<span class="count">{$vc.count}</span>)</span></a></li>
							{/foreach}
						</ul>
					{/notempty}
					</li>
				{/foreach}
			</ul>
			<div id="add-group"><button class="btn btn-success btn-xs">新增资源目录</button></div>
		</div>
		<div class="pull-right resource-box container-fluid">
			{notempty name="resource"}
				<ul class="row">
					{foreach $resource as $v}
						<li data-id="{$v.id}" class="col-sm-3">
							<div class="img">
								<img src="{eq name="v.type" value="1"}{$v.path_name}{/eq}" alt="{$v.file_name}">
							</div>
							<p title="{$v.file_name}">{$v.file_name}</p>
						</li>
					{/foreach}
				</ul>
				<div id="list-pages">
					{$page}
				</div>
			{/notempty}
		</div>
	</div>
</section>
<script type="text/html" id="create-parent">
	<li data-id="{{d.id}}"><i class="fa fa-minus-square"></i>{{d.name}}(0)</li>
</script>
<script type="text/html" id="create-children">
	<li data-id="{{d.id}}">{{d.name}}(0)</li>
</script>
<script type="text/html" id="resource-box-selected">
	<div class="selected">
		<div class="bg"></div>
		<i class="fa fa-check"></i>
	</div>
</script>
{css href="__LIB_CSS__/jquery.contentMenu.custom.css"}
<script type="text/javascript">
	require(['jquery', 'layer', 'eh.xhr', 'jquery.contextMenu'], function(){
		var contentMenuItemsConfigure = {
			'createChilderenMenu': {
				icon: 'pencil-square'
			},
			'deleteMenu': {
				icon: 'trash'
			},
			'copyResourceName': {
				icon: 'copy'
			},
			'copyResourcePath': {
				icon: 'link'
			},
			'deleteResource': {
				icon: 'trash-o'
			},
			'viewAttributes': {
				icon: 'exclamation-circle'
			}
		},
		contentMenuSign = {};

		$(function(){
			var uploaderIndex,
				top = 0,
				parentMenuID = 0;

			$('.resource-group > ul').css({
				'padding-bottom': $('#add-group').outerHeight() + 10
			});

			$(window).resize(function() {
				top = $('.iframe-main').height() - $('#add-group').outerHeight();
				$('#add-group').css({
					top: top
				});

				$('.resource-box').width($(window).outerWidth() - $('.resource-group').outerWidth(true) - 10);

				$('.resource-box .img').height($('.resource-box .img:eq(0)').innerWidth());
			});

			$(window).resize();

			$.contextMenu({
				selector: '.resource-group > ul > li:gt(1)',
				items: {
					createChilderenMenu: {
						name: '创建子菜单'
					},
					sep1: "---------",
					deleteMenu: {
						name: '删除菜单'
					}
				},
				zIndex: 100000000, //确保遮罩层和弹出菜单在layer弹窗之上。
				callback: function(itemKey, opt){
					switch (itemKey){
						case 'createChilderenMenu':
						var that = $(this),
							id = $(this).data('id');

						that.removeClass('open');

						if (!id) {
							layer.msg('当前菜单禁止添加子菜单');
							return false;
						}

						layer.prompt({
							title: '正在添加 <span style="color: #d43f3a;">' + that.find('span.name').html() + '</span> 的子菜单'
						}, function(value, index){
							layer.close(index);
							eh.xhr.createCommon('/admin/resource/addGroup', {name: value, parentID: id}, {name: value}, that, 'create-children');
						});
						break;
					}	
				},
				events: {
					show: function(options){
						$(this).addClass('open');
						var sign = checkContentMenuSign(options.ns);
						sign === true || createMenuIconAndkeyboard(sign, options.items);
					},
					hide: function(){
						$(this).removeClass('open');
					}
				}
			});

			$.contextMenu({
				selector: '.children li',
				items: {
					deleteMenu: {
						name: '删除子菜单'
					}
				},
				zIndex: 100000000, //确保遮罩层和弹出菜单在layer弹窗之上。
				callback: function(itemKey, opt){
					switch (itemKey){
						case 'deleteMenu':
						layer.prompt({
							success: function(layero){
								console.log(layero);
							}
						});
					}
				},
				events: {
					show: function(options){
						$(this).addClass('open');
						var sign = checkContentMenuSign(options.ns);
						sign === true || createMenuIconAndkeyboard(sign, options.items);
					},
					hide: function(){
						$(this).removeClass('open');
					}
				}
			});

			$.contextMenu({
				selector: '.resource-box > ul li',
				items: {
					copyResourceName: {
						name: '复制名称'
					},
					copyResourcePath: {
						name: '复制路径'
					},
					sep1: "---------",
					deleteResource: {
						name: '删除资源'
					},
					sep2: "---------",
					viewAttributes: {
						name: '查看属性'
					}
				},
				zIndex: 100000000, //确保遮罩层和弹出菜单在layer弹窗之上。
				callback: function(itemKey, opt){
					switch (itemKey){
						case 'deleteResource':
						layer.confirm('确认删除该资源吗？', {icon: 3, title:'重要提示'}, function(index){
							layer.close(index);
							
						});
						break;
					}
				},
				events: {
					show: function(options){
						$(this).addClass('open');
						var sign = checkContentMenuSign(options.ns);
						sign === true || createMenuIconAndkeyboard(sign, options.items);
					},
					hide: function(){
						$(this).removeClass('open');
					}
				}
			});

			$('.resource-group').scroll(function() {
				$('#add-group').css({
					top: top + $(this).scrollTop()
				});
			});

			$('#open-uploader').click(function() {
				uploaderIndex = layer.open({
					type:2,
					title: false,
					resize: false,
					move: false,
					area: ['80%', '80%'],
					content: '/admin/resource/uploader.html'
				});
			});

			$('#add-group').click(function(){
				layer.prompt({title: '请输入新目录名称'}, function(value, index){
					layer.close(index);
					eh.xhr.createCommon('/admin/resource/addGroup', {name: value}, {name: value}, '.resource-group ul', 'create-parent');
				});
			});

			$('#close-iframe').click(function() {
				parent.layer.close(parent.layer.getFrameIndex(window.name));
			});

			$('.resource-group ul > li:gt(1) .fa-plus-square').click(function(){
				var li = $(this).parents('li');
				if (li.hasClass('open-children')) {
					li.find('ul').hide();
					li.removeClass('open-children');
					$(this).removeClass('fa-minus-square').addClass('fa-plus-square');
				}else if(li.find('li').length > 0){
					li.find('ul').show();
					li.addClass('open-children');
					$(this).removeClass('fa-plus-square').addClass('fa-minus-square');
				}
				return false;
			});

			var liActive = $('.resource-group .children li.active');
			if (liActive.length > 0) {
				liActive.parents('li').addClass('active').find('i.fa-plus-square').click();
			}

			$('.resource-box li').click(function() {
				if ($(this).find('.img .selected').length > 0) {
					$(this).find('.img .selected').remove();
					if ($('.resource-box').find('.selected').length == 0) {
						$('#cancel-all, #delete-all').hide();
					}
				}else{
					$(this).find('.img').append($('#resource-box-selected').html());
					$('#cancel-all, #delete-all').show();
				}
			});

			$('#select-all').click(function(){
				$('.resource-box > ul li').not(':has(".selected")').find('.img').append($('#resource-box-selected').html());
				$('#cancel-all, #delete-all').show();
			});

			$('#cancel-all').click(function(){
				$('.resource-box > ul li .selected').remove();
				$('#cancel-all, #delete-all').hide();
			});

			$('#delete-all').click(function(){
				layer.confirm('确认删除选中的 <span style="color: #d43f3a; font-weight: bold;">' + $('.resource-box > ul li .selected').length + '</span> 个资源吗？', {icon: 3, title:'重要提示'}, function(index){
					layer.close(index);
				});
			});
		});


		/**
		 * 检查当前右键菜单是否已生成图标和快捷方式（确保生成单例）
		 */
		function checkContentMenuSign(sign){
			var sign = sign.replace('.','');

			return contentMenuSign[sign] && true || sign;
		}
		/**
		 * 生成右键菜单图标以及后边快捷键
		 */
		function createMenuIconAndkeyboard(sign, items){
			$.each(items, function(index) {
				var current = contentMenuItemsConfigure[index],
					keyboard = (this.name && current.keyboard) && '<span class="keyboard">' + current.keyboard + '</span>' || '';

				this.name && this.$node.html('<i class="fa fa-' + current.icon + '"></i><span>' + this.name + '</span>' + keyboard);
			});

			contentMenuSign[sign] = 1;
		}
	});
</script>