<!-- 列表头部 -->
<section class="list-header">
	<ul>
		<li>缩略图</li>
		<li>标题与描述</li>
	</ul>
</section>

<!-- 列表主体 -->
<section class="list-main">
	<ul>
		<li class="row">
			<p class="col-sm-2">
				<img src="/uploader/test/article/1380.jpg" alt="">
			</p>
			<p class="col-sm-10">
				<span class="title">创业那些年，我们一起走过的坑</span>
				<span class="keywords">网红,推广方法,自媒体,微信加粉,鸡汤</span>
				<span class="description">大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!</span>
				<span class="button">
					<button class="btn">编辑</button>
					<button class="btn">删除</button>
				</span>
			</p>
		</li>
	</ul>
</section>