<!-- 列表主体 -->
<section class="list-main">
	<ul>
		<li class="row">
			<p class="col-sm-3 col-lg-2 number">文章编号：1</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left add-time">发布时间：2016-08-26 11:25:33</p>
			<p class="col-sm-3 col-lg-2">
				<img src="/uploader/test/article/1380.jpg" alt="">
			</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left">
				<span class="title"><strong>创业那些年，我们一起走过的坑</strong></span>
				<span class="description" data-description="大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!">大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!</span>
			</p>
			<p class="keywords col-sm-5 col-lg-6 col-sm-offset-3 col-lg-offset-2"><strong>关键词：</strong><span>SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章</span></p>
			<p class="button">
				<button class="btn btn-primary">编辑</button>
				<button class="btn btn-danger">删除</button>
			</p>
		</li>

		<li class="row">
			<p class="col-sm-3 col-lg-2" style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;">文章编号：1</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left" style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;">发表时间：2016-08-26 11:25:33</p>
			<p class="col-sm-3 col-lg-2">
				<img src="/uploader/test/article/1380.jpg" alt="">
			</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left">
				<span class="title"><strong>创业那些年，我们一起走过的坑</strong></span>
				<span class="description" data-description="大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!">大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!</span>
			</p>
			<p class="keywords col-sm-5 col-lg-6 col-sm-offset-3 col-lg-offset-2"><strong>关键词：</strong><span>SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章</span></p>
			<p class="button">
				<button class="btn btn-primary">编辑</button>
				<button class="btn btn-danger">删除</button>
			</p>
		</li>

		<li class="row">
			<p class="col-sm-3 col-lg-2" style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;">文章编号：1</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left" style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;">发表时间：2016-08-26 11:25:33</p>
			<p class="col-sm-3 col-lg-2">
				<img src="/uploader/test/article/1380.jpg" alt="">
			</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left">
				<span class="title"><strong>创业那些年，我们一起走过的坑</strong></span>
				<span class="description" data-description="大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!">大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!</span>
			</p>
			<p class="keywords col-sm-5 col-lg-6 col-sm-offset-3 col-lg-offset-2"><strong>关键词：</strong><span>SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章</span></p>
			<p class="button">
				<button class="btn btn-primary">编辑</button>
				<button class="btn btn-danger">删除</button>
			</p>
		</li>

		<li class="row">
			<p class="col-sm-3 col-lg-2" style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;">文章编号：1</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left" style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #ccc;">发表时间：2016-08-26 11:25:33</p>
			<p class="col-sm-3 col-lg-2">
				<img src="/uploader/test/article/1380.jpg" alt="">
			</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left">
				<span class="title"><strong>创业那些年，我们一起走过的坑</strong></span>
				<span class="description" data-description="大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!">大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!大家都知道，我是个粗人。文人笔下的“落霞与孤鹜齐飞,秋水共长天一色”，我只能说：卧槽，好看，这是何等的卧槽!</span>
			</p>
			<p class="keywords col-sm-5 col-lg-6 col-sm-offset-3 col-lg-offset-2"><strong>关键词：</strong><span>SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章SEO,创业,文章</span></p>
			<p class="button">
				<button class="btn btn-primary">编辑</button>
				<button class="btn btn-danger">删除</button>
			</p>
		</li>
	</ul>
</section>

<section id="list-pages">
</section>

<script type="text/javascript">
	require(['js/admin/index']);
</script>