<header>
	<div class="pull-left">
		<button class="btn btn-danger" id="header-button-empty-form">清空表单</button>
		<button class="btn btn-success" id="header-button-submit-form">发布文章</button>
	</div>
</header>
<section class="iframe-main">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="title" class="col-sm-1 control-label">标题<span class="red">*</span>：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="title" id="title" placeholder="输入文章标题" />
			</div>
		</div>
		<div class="form-group">
			<label for="keywords" class="col-sm-1 control-label">关键词：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control no-validate" name="keywords" id="keywords" placeholder="输入文章关键词" />
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-1 control-label">描述：</label>
			<div class="col-sm-10">
				<textarea class="form-control no-validate" name="description" id="description" placeholder="输入文章描述"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">缩略图：</label>
			<div class="col-sm-10">
				<div class="input-group">
					<span class="input-group-btn logo-uploader">
						<button class="btn btn-info" href="javascript:void();" type="button">上传缩略图</button>
					</span>
					<input class="form-control" type="text" id="thumbnail" placeholder="点击左侧按钮上传缩略图" readonly />
					<input type="hidden" name="thumbnail" id="thumbnailUrl">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-1 control-label">文章分类：</label>
			<input type="hidden" name="category_id" id="category-id">
			<div class="col-sm-5">
				<select class="selectpicker show-tick form-control" data-title="请选择一级分类" data-icon-base="fa" data-tick-icon="fa-check">
					{foreach $category as $v}
						<option value="{$v.id}">{$v.name}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-sm-5">
				<select class="selectpicker show-tick form-control" data-title="请选择二级分类" data-icon-base="fa" data-tick-icon="fa-check">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="markdown" class="col-sm-1 control-label">商品描述<span class="red">*</span>：</label>
			<div class="col-sm-10" id="editor-box">
				{js href="/static/lib/plugin/ueditor.config.js,/static/lib/plugin/ueditor.all.js"}
				<div id="editorPlain"></div>
			</div>
		</div>
	</form>
</section>
<script type="text/html" id="category-tpl">
	{{# for(var i = 0, len = d.category.length; i < len; i++){ }}
		<option value="{{d.category[i].id}}">{{d.category[i].name}}</option>
	{{# } }}
</script>
{css href="http://cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css"}
<script type="text/javascript">
	require(['jquery', 'webuploader', 'messenger.future', 'eh.form', 'eh.xhr', 'bootstrap', 'bootstrap-select-zh'], function($, WebUploader, Messenger){
		var ue = UE.getEditor('editorPlain', {
			UEDITOR_HOME_URL: '/static/lib/plugin/',
			serverUrl: '/ueditor/controller.php',
			autoHeightEnabled: true,
			autoFloatEnabled: true,
			topOffset: 76,
			initialFrameHeight: 600,
			imageScaleEnabled: false,
			textarea: 'content',
			toolbars: [[
			'source', '|', 'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|', 'undo', 'redo', '|',
			'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
			'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
			'directionalityltr', 'directionalityrtl', 'indent', '|',
			'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
			'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
			'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'insertframe', 'insertcode', 'pagebreak', '|',
			'horizontal', 'date', 'time', 'spechars', 'wordimage', '|',
			'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
			'searchreplace', 'drafts'
			]],
			maximumWords: 20000
		});

		$('.selectpicker').selectpicker({
			size: 8,
			dropupAuto: false
		});

		$('.selectpicker').on('changed.bs.select', function(){
			var index = $(this).parents('.col-sm-5').index();
			if (index == 2) {
				eh.xhr.getCommon('/admin/goods/getCategory.html', {'parent_id': $(this).val()}, {
					'parentObj': $('.selectpicker:eq(1)'),
					'tplID': 'category-tpl',
					'after': function(){
						$('.selectpicker:eq(1)').selectpicker('refresh');
					}
				});
			}

			$(this).parents('.form-group').find('#category-id').val($(this).val());
		});
	});
</script>