<header>
	<div class="pull-left">
		<button class="btn btn-danger" id="header-button-empty-form">清空表单</button>
		<button class="btn btn-success" id="header-button-submit-form">发布商品</button>
	</div>
</header>
<section class="iframe-main">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="title" class="col-sm-1 control-label">标题<span class="red">*</span>：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="title" id="title" placeholder="输入商品标题" />
			</div>
		</div>
		<div class="form-group">
			<label for="keywords" class="col-sm-1 control-label">关键词：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control no-validate" name="keywords" id="keywords" placeholder="输入商品关键词" />
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-1 control-label">描述：</label>
			<div class="col-sm-10">
				<textarea class="form-control no-validate" name="description" id="description" placeholder="输入商品描述"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">封面图：</label>
			<div class="col-sm-10">
				<div class="input-group">
					<span class="input-group-btn logo-uploader">
						<button class="btn btn-info" href="javascript:void();" type="button">上传封面图</button>
					</span>
					<input class="form-control" type="text" id="thumbnail" placeholder="点击左侧按钮上传封面图" readonly />
					<input type="hidden" name="thumbnail" id="thumbnailUrl">
				</div>
			</div>
		</div>
		<div class="form-group" id="goods-images">
			<label class="col-sm-1 control-label">商品组图：</label>
			<div class="col-sm-2">
				<img src="__IMAGES__/goods_images_default.png">
				<span class="goods-images images1" data-id="1">
					<button class="btn btn-info" href="javascript:void();" type="button">商品组图1</button>
				</span>
				<input type="hidden" name="images[]">
			</div>
			<div class="col-sm-2">
				<img src="__IMAGES__/goods_images_default.png">
				<span class="goods-images images2" data-id="2">
					<button class="btn btn-info" href="javascript:void();" type="button">商品组图2</button>
				</span>
				<input type="hidden" name="images[]">
			</div>
			<div class="col-sm-2">
				<img src="__IMAGES__/goods_images_default.png">
				<span class="goods-images images3" data-id="3">
					<button class="btn btn-info" href="javascript:void();" type="button">商品组图3</button>
				</span>
				<input type="hidden" name="images[]">
			</div>
			<div class="col-sm-2">
				<img src="__IMAGES__/goods_images_default.png">
				<span class="goods-images images4" data-id="4">
					<button class="btn btn-info" href="javascript:void();" type="button">商品组图4</button>
				</span>
				<input type="hidden" name="images[]">
			</div>
			<div class="col-sm-2">
				<img src="__IMAGES__/goods_images_default.png">
				<span class="goods-images images5" data-id='5'>
					<button class="btn btn-info" href="javascript:void();" type="button">商品组图5</button>
				</span>
				<input type="hidden" name="images[]">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">商品分类：</label>
			<input type="hidden" name="category_id" id="category-id">
			<div class="col-sm-5">
				<select class="selectpicker show-tick form-control" data-title="请选择一级分类" data-icon-base="fa" data-tick-icon="fa-check">
					{foreach $category as $v}
						<option value="{$v.id}">{$v.name}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-sm-5">
				<select class="selectpicker show-tick form-control" data-title="请选择二级分类" data-icon-base="fa" data-tick-icon="fa-check">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">销售方式<span class="red">*</span>：</label>
			<div class="col-sm-10">
				<input type="checkbox" name="sale_mode" id="switch" data-on-text="现金" data-off-text="积分" 	data-off-color="success" checked>
			</div>
		</div>
		<div class="form-group">
			<label for="price" class="col-sm-1 control-label">商品价格<span class="red">*</span>：</label>
			<div class="col-sm-10">
				<input type="text" name="price" id="price" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="discount-price" class="col-sm-1 control-label">折扣价：</label>
			<div class="col-sm-10">
				<input type="text" name="discount_price" id="discount-price" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="number" class="col-sm-1 control-label">商品数量<span class="red">*</span>：</label>
			<div class="col-sm-10">
				<input type="text" name="number" id="number" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="markdown" class="col-sm-1 control-label">商品描述<span class="red">*</span>：</label>
			<div class="col-sm-10" id="editor-box">
				{js href="/static/lib/plugin/ueditor.config.js,/static/lib/plugin/ueditor.all.js"}
				<div id="editorPlain"></div>
			</div>
		</div>
	</form>
</section>
<script type="text/html" id="category-tpl">
	{{# for(var i = 0, len = d.category.length; i < len; i++){ }}
		<option value="{{d.category[i].id}}">{{d.category[i].name}}</option>
	{{# } }}
</script>
{css href="http://cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css,http://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css"}
<script type="text/javascript">
	require(['jquery', 'webuploader', 'messenger.future', 'eh.form', 'eh.xhr', 'bootstrap', 'bootstrap-select-zh', 'switch', 'layer'], function($, WebUploader, Messenger){
		var goodsImagesIndex = 0,
			goodsImagesElement = {};

		var ue = UE.getEditor('editorPlain', {
			UEDITOR_HOME_URL: '/static/lib/plugin/',
			serverUrl: '/ueditor/controller.php',
			autoHeightEnabled: true,
			autoFloatEnabled: true,
			topOffset: 76,
			initialFrameHeight: 600,
			imageScaleEnabled: false,
			textarea: 'content',
			toolbars: [[
			'source', '|', 'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|', 'undo', 'redo', '|',
			'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
			'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
			'directionalityltr', 'directionalityrtl', 'indent', '|',
			'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
			'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
			'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'insertframe', 'insertcode', 'pagebreak', '|',
			'horizontal', 'date', 'time', 'spechars', 'wordimage', '|',
			'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
			'searchreplace', 'drafts'
			]],
			maximumWords: 20000
		});

		$('.goods-images').on('click' ,'input', function() {
			if (goodsImagesIndex == 0) {
				goodsImagesElement = $(this).parents('.goods-images');
				goodsImagesIndex = goodsImagesElement.data('id');
			}else{
				layer.msg('图片上传中，请稍后再试！');
				return false;
			}
		});

		$('#switch').bootstrapSwitch();

		$('.selectpicker').selectpicker({
			size: 8,
			dropupAuto: false
		});

		$('.selectpicker').on('changed.bs.select', function(){
			var index = $(this).parents('.col-sm-5').index();
			if (index == 2) {
				eh.xhr.getCommon('/goods/getCategory.html', {'parent_id': $(this).val()}, {
					'parentObj': $('.selectpicker:eq(1)'),
					'tplID': 'category-tpl',
					'after': function(){
						$('.selectpicker:eq(1)').selectpicker('refresh');
					}
				});
			}

			$(this).parents('.form-group').find('#category-id').val($(this).val());
		});

		/**
		 * 设置表单验证参数
		 */
		validate = eh.form.checkFormData({
			rules: {
				'title': "required",
				'price': "required"
			},
			messages: {
				'title': '商品标题必须设置',
				'price': '商品价格不能为空'
			}
		});

		/**
		 * 清空表单按钮点击事件绑定
		 */
		$('#header-button-empty-form').click(function(){
			eh.form.emptyFormData();
			$('#html-preview .html-content').html(md.render($(this).val()));
			$('.logo-uploader btn').html('上传封面图');

			validate.resetForm();
			eh.form.validateHighlightRemove();
			markdownEditor.setValue('');
		});

		/**
		 * 保存表单按钮点击事件绑定
		 */
		$('#header-button-submit-form').click(function(){
			if (validate.form()){
				eh.xhr.messageRefresh('/goods.html', eh.form.extractData(), {submitType: 'create'});
			}else{
				eh.form.validateError(validate.errorMap);
			}
		});

		/**
		 * 配置messenger的显示位置及样式
		 */
		Messenger.options = {
			extraClasses: 'messenger-fixed messenger-on-top',
			theme: 'future'
		};

		/**
		 * 实例化缩略图上传
		 */
		var uploader = new WebUploader.Uploader({
			swf: '/static/lib/js/webuploader/Uploader.swf',
			server: '/goods/resource.html',
			pick: '.logo-uploader',
			accept: {
				title: 'Images',
				extensions: 'gif,jpg,jpeg,bmp,png',
				mimeTypes: 'image/*'
			},
			formData: {
				_ajax: 1
			},
			fileNumLimit: 1,
			auto: true,
			compress: false
		});

		/**
		 * 缩略图进入列队触发
		 */
		uploader.on('fileQueued', function(file){
			$('.logo-uploader .webuploader-pick').next('div').hide();
			$('#thumbnail').val(file.name);
			uploader.option('formData', {
				extension: file.ext
			})
		});

		/**
		 * 缩略图开始上传触发
		 */
		uploader.on('startUpload', function(file){
			$('.logo-uploader button').html('<i class="fa fa-spinner fa-pulse"></i> 正在上传');
		});

		/**
		 * 缩略图上传成功后触发
		 */
		uploader.on('uploadSuccess', function(file, response){
			uploader.reset();
			$('.webuploader-pick').next('div').show();

			if (response.code == 1) {
				Messenger().post({
					message: '图片：' + file.name + ' 上传成功！',
					showCloseButton: true
				});
				$('.logo-uploader button').html('<i class="fa fa-check"></i> 上传成功');
				$('#thumbnail').val(file.name);
				$('#thumbnailUrl').val(response.data.url);
			}else{
				Messenger().post({
					message: '图片：' + file.name + ' 上传失败！',
					showCloseButton: true,
					type: 'error'
				});
				$('.logo-uploader button').html('重新上传');
				$('#thumbnail').val('');
			}
		});


		/**
		 * 实例化缩略图上传
		 */
		var uploaderImages = new WebUploader.Uploader({
			swf: '/static/lib/js/webuploader/Uploader.swf',
			server: '/goods/resource.html',
			pick: '.goods-images',
			accept: {
				title: 'Images',
				extensions: 'gif,jpg,jpeg,bmp,png',
				mimeTypes: 'image/*'
			},
			formData: {
				_ajax: 1
			},
			fileNumLimit: 1,
			auto: true,
			compress: false
		});

		/**
		 * 缩略图进入列队触发
		 */
		uploaderImages.on('fileQueued', function(file){
			goodsImagesElement.find('.webuploader-pick').next('div').hide();

			uploaderImages.option('thumb', {
				type: file.type
			})

			uploaderImages.makeThumb(file, function(error, ret) {
				if (!error) {
					goodsImagesElement.prev().attr('src', ret);
				}
			});
		});

		/**
		 * 缩略图开始上传触发
		 */
		uploaderImages.on('startUpload', function(file){
			goodsImagesElement.find('button').html('<i class="fa fa-spinner fa-pulse"></i> 正在上传');
		});

		/**
		 * 缩略图上传成功后触发
		 */
		uploaderImages.on('uploadSuccess', function(file, response){
			uploaderImages.reset();
			goodsImagesElement.find('.webuploader-pick').next('div').show();

			if (response.code == 1) {
				Messenger().post({
					message: '图片：' + file.name + ' 上传成功！',
					showCloseButton: true
				});
				goodsImagesElement.find('button').html('<i class="fa fa-check"></i> 上传成功');
				goodsImagesElement.next('input').val(response.data.url);
			}else{
				Messenger().post({
					message: '图片：' + file.name + ' 上传失败！',
					showCloseButton: true,
					type: 'error'
				});
				goodsImagesElement.find('button').html('重新上传');
				goodsImagesElement.prev().attr('src', '__IMAGES__/goods_images_default.png');
			}
		});

		uploaderImages.on('uploadComplete', function(){
			goodsImagesIndex = 0;
			goodsImagesElement = {};
		});
	});
</script>