<header>
	<div class="pull-left">
		<!-- <button class="btn btn-danger" id="header-button-empty-form">清空表单</button> -->
		<button class="btn btn-success" id="header-button-submit-form">发布角色分组</button>
	</div>
</header>
<section class="iframe-main">
	<form class="form-horizontal">
		<div class="form-group hr-line-dashed">
			<label for="name" class="col-sm-1 control-label">分组名称<span class="red">*</span>：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="name" id="name" placeholder="输入模块名称" />
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">选择模块权限</div>
			<div class="panel-body">
				根据管理员的岗位需求，选择对应的模块权限。
			</div>

			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th width="20%">模块名称</th>
						<th width="60%">已选权限</th>
						<th width="20%">设置权限</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="m in module">
						<td><img :src="'/static/admin/images/'+m.icon">{{m.name}}</td>
						<td>{{m.permissionName||'无'}}</td>
						<td><button type="button" class="btn btn-success" :data-id="m.id">设置权限</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div id="setting">
		<div class="module" v-for="(m, mIndex) in permission" :id="'module-' + mIndex" :data-id="mIndex">
			<div class="panel panel-default" v-for="(pg, pgIndex) in m" :data-id="pgIndex">
				<div class="panel-heading">{{pg.name}}</div>
				<div class="panel-body">
					<ul>
						<li v-for="(p, pIndex) in pg.permission" :data-id="pIndex" :data-key="p.key">{{p.name}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{css href="__LIB_CSS__/iCheck.blue.css"}
<script type="text/javascript">
	require(['jquery', 'vue', 'iCheck', 'eh.xhr', 'eh.form'], function($, Vue){
		var vm = new Vue({
			el: 'section',
			data: {
				module: '',
				permission: ''
			},
			watch: {
				permission: function(){
					
				}
			}
		});

		var index = eh.xhr.loadPrompt({type: 'get'});
		eh.xhr.post('/admingroup/getpermission.html', {}, {
			success: function(response){
				vm.module = response.data.module;
				vm.permission = response.data.permission;
				layer.close(index);
			}
		});

		$('#header-button-submit-form').click(function() {
			eh.xhr.messageRefresh('/module.html', eh.form.extractData(), {submitType: 'create'});
		});

	});
</script>