<section class="iframe-main">
	<div class="row">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th width="20%">名称</th>
					<th width="50%">值</th>
					<th width="30%">关键词</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>极验ID</td>
					<td><input type="text" name="geetest_id" class="form-control" value="{$systemSetting.geetest_id}"></td>
					<td>geetest_id</td>
				</tr>
				<tr>
					<td>极验KEY</td>
					<td><input type="text" name="geetest_key" class="form-control" value="{$systemSetting.geetest_key}"></td>
					<td>geetest_key</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<script type="text/javascript">
	require(['jquery', 'eh.xhr', 'layer'], function(){
		$('input:text').change(function() {
			var key = $(this).attr('name'),
			value = $(this).val();

			edit(key, value);
		});

		function edit(key, value){
			eh.xhr.put('/admin/setting_geetest/update.html', {key: key, value:value}, {
				success: function(response){
					layer.msg('更新成功', {skin: 'layui-layer-hui', anim: 2});
				}
			});
		}
	});
</script>