<section class="iframe-main">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th width="10%">编号</th>
				<th width="15%">模块名称</th>
				<th width="15%">权限组名称</th>
				<th width="15%">权限名称</th>
				<th width="15%">权限KEY</th>
				<th width="10%">是否为菜单</th>
				<th width="20%">操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach $data as $v}
			<tr>
				<td>{$v.id}</td>
				<td>{$v.module_name}</td>
				<td>{$v.group_name}</td>
				<td>{$v.name}</td>
				<td>{$v.key}</td>
				<td>{$v.is_menu}</td>
				<td>
					<button class="btn btn-warning" data-id="{$v.id}">编辑</button>
					<button class="btn btn-danger" data-id="{$v.id}">删除</button>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</section>

<script type="text/javascript">
</script>