<header>
	<div class="pull-left">
		<button class="btn btn-danger" id="header-button-empty-form">清空表单</button>
		<button class="btn btn-success" id="header-button-submit-form">发布文章</button>
	</div>
</header>
<section class="iframe-main">
	<form class="form-horizontal"{notempty name="id"} data-id="{$id}"{/notempty}>
		<div class="form-group">
			<label for="title" class="col-sm-1 control-label">标题<span class="red">*</span>：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="title" id="title" {notempty name="article.title"}value="{$article.title}"{/notempty} placeholder="输入文章标题" />
			</div>
		</div>
		<div class="form-group">
			<label for="keywords" class="col-sm-1 control-label">关键词：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control no-validate" name="keywords" id="keywords" {notempty name="article.keywords"}value="{$article.keywords}"{/notempty} placeholder="输入文章关键词" />
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-1 control-label">描述：</label>
			<div class="col-sm-10">
				<textarea class="form-control no-validate" name="description" id="description" placeholder="输入文章描述">{notempty name="article.description"}{$article.description}{/notempty}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">缩略图：</label>
			<div class="col-sm-10">
				<div class="input-group">
					<span class="input-group-btn logo-uploader">
						<button class="btn btn-info" href="javascript:void();" type="button">上传缩略图</button>
					</span>
					<input class="form-control" type="text" id="thumbnail" placeholder="点击左侧按钮上传缩略图" {notempty name="article.thumbnail"}value="{$article.thumbnail}"{/notempty} readonly />
					<input type="hidden" name="thumbnail" id="thumbnailUrl" {notempty name="article.thumbnail"}value="{$article.thumbnail}"{/notempty}>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-1 control-label">文章分类：</label>
			<input type="hidden" name="category_id" id="category-id">
			<div class="col-sm-5">
				<select class="selectpicker show-tick form-control" data-title="请选择一级分类" data-icon-base="fa" data-tick-icon="fa-check">
					{notempty name="categoryParentID"}
						{foreach $category as $v}
							<option value="{$v.id}" {eq name="v.id" value="$categoryParentID"}selected{/eq}>{$v.name}</option>
						{/foreach}
					{else /}
						{foreach $category as $v}
							<option value="{$v.id}">{$v.name}</option>
						{/foreach}
					{/notempty}
				</select>
			</div>
			<div class="col-sm-5">
				<select class="selectpicker show-tick form-control" data-title="请选择二级分类" data-icon-base="fa" data-tick-icon="fa-check">
					{notempty name="categoryChilds"}
						{foreach $categoryChilds as $v}
							<option value="{$v.id}" {eq name="v.id" value="$categoryChildID"}selected{/eq}>{$v.name}</option>
						{/foreach}
					{/notempty}
				</select>
			</div>
		</div>
		<div class="form-group" id="resource-list">
			<label class="col-sm-1 control-label">资源列表：</label>
			<div class="col-sm-10">
				<ul></ul>
			</div>
		</div>
		<div class="form-group">
			<label for="markdown" class="col-sm-1 control-label">文章内容<span class="red">*</span>：</label>
			<div class="col-sm-10" id="editor-box" data-editor="{$editor}">
				{eq name="editor" value="markdown"}
					<div id="markdown-button">
						<ul class="pull-left">
							<li data-key="h1" data-toggle="tooltip" data-placement="bottom" title="标题一(Ctrl-1)">H1</li>
							<li data-key="h2" data-toggle="tooltip" data-placement="bottom" title="标题二(Ctrl-2)">H2</li>
							<li data-key="h3" data-toggle="tooltip" data-placement="bottom" title="标题三(Ctrl-3)">H3</li>
							<li data-key="h4" data-toggle="tooltip" data-placement="bottom" title="标题四(Ctrl-4)" class="hidden-xs hidden-sm">H4</li>
						</ul>
						<ul class="pull-left">
							<li data-key="bold" data-toggle="tooltip" data-placement="bottom" title="加粗(Ctrl-B)"><i class="fa fa-bold"></i></li>
							<li data-key="italic" data-toggle="tooltip" data-placement="bottom" title="斜体(Ctrl-I)"><i class="fa fa-italic"></i></li>
						</ul>
						<ul class="pull-left">
							<li data-key="ul" data-toggle="tooltip" data-placement="bottom" title="无序列表(Ctrl-U)"><i class="fa fa-list-ul"></i></li>
							<li data-key="ol" data-toggle="tooltip" data-placement="bottom" title="有序列表(Ctrl-O)"><i class="fa fa-list-ol"></i></li>
						</ul>
						<ul class="pull-left">
							<li data-key="link" data-toggle="tooltip" data-placement="bottom" title="添加链接(Ctrl-L)"><i class="fa fa-link"></i></li>
							<li data-key="image" data-toggle="tooltip" data-placement="bottom" title="添加图片(Ctrl-G)"><i class="fa fa-picture-o"></i></li>
							<li data-key="resource" data-toggle="tooltip" data-placement="bottom" title="资源库(Ctrl-R)"><i class="fa fa-folder-open"></i></li>
							<li data-key="code" data-toggle="tooltip" data-placement="bottom" title="代码块(Ctrl-D)"><i class="fa fa-code"></i></li>
							<li data-key="hr" data-toggle="tooltip" data-placement="bottom" title="分割行(Ctrl-H)"><i class="fa fa-minus"></i></li>
							<li data-key="blockquote" data-toggle="tooltip" data-placement="bottom" title="引用(Ctrl-Q)"><i class="fa fa-quote-right"></i></li>
							<li data-key="table" data-toggle="tooltip" data-placement="bottom" title="表格(Ctrl-T)"><i class="fa fa-table"></i></li>
							<li data-key="toc" data-toggle="tooltip" data-placement="bottom" title="章节导航"><i class="fa fa-list-alt"></i></li>
						</ul>
						<ul class="pull-right editor-button-background">
							<li data-key="screen" data-toggle="tooltip" data-placement="bottom" title="全屏"><i class="screen"></i></li>
							<li data-key="code-mode" data-toggle="tooltip" data-placement="bottom" title="代码模式"><i class="code-mode"></i></li>
							<li data-key="column-mode" data-toggle="tooltip" data-placement="bottom" title="分栏模式"><i class="column-mode"></i></li>
							<li data-key="preview-mode" data-toggle="tooltip" data-placement="bottom" title="视图模式"><i class="preview-mode"></i></li>
						</ul>
						<p class="resource-uploader" style="display: none;"></p>
					</div>
					<div id="editor">
						<div class="form-markdown-left validate-style">
							<textarea name="markdown" id="markdown" class="ignore-prompt">{notempty name="article.markdown"}{$article.markdown}{/notempty}</textarea>
						</div>
						<div class="form-markdown-right">
							<p id="html-preview">
								<span class="html-content"></span>
							</p>
						</div>
					</div>
				{else /}
					{js href="/static/lib/plugin/ueditor.config.js,/static/lib/plugin/ueditor.all.js"}
					<script id="editorPlain" name="content" type="text/plain">
						{notempty name="article.content"}{$article.content}{/notempty}
					</script>
				{/eq}
			</div>
		</div>
	</form>
</section>
{css href="http://cdn.bootcss.com/codemirror/5.25.0/codemirror.min.css,http://cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css"}
<script type="text/html" id="category-tpl">
	{{# for(var i = 0, len = d.category.length; i < len; i++){ }}
		<option value="{{d.category[i].id}}">{{d.category[i].name}}</option>
	{{# } }}
</script>
<script type="text/javascript">
	require(['jquery', 'js/articleCreate'], function($, articleCreate){
		$(function(){
			if ($('body').hasClass('original-action-edit')) {
				var editor = $('#editor-box').data('editor');
				if (editor == 'markdown') {
					$('#markdown').trigger('change');
				}
			}
		});
	});
</script>