<!-- 列表主体 -->
<section class="list-main">
	<ul></ul>
</section>

<section id="list-pages">
</section>

<script type="text/javascript">
	require(['js/admin/index']);
</script>

<script type="text/html" id="tpl-article-list">
	{{# for(var i = 0, len = d.length; i < len; i++){ }}
		<li class="row">
			<p class="col-sm-3 col-lg-2 number">文章编号：{{ d[i].id }}</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left add-time">发布时间：2016-08-26 11:25:33</p>
			<p class="col-sm-3 col-lg-2">
				<img src="{{ d[i].thumbnail }}" alt="{{ d[i].thumbnail_des }}" />
			</p>
			<p class="col-sm-9 col-lg-10 padding-clean-left">
				<span class="title"><strong>{{ d[i].title }}</strong></span>
				<span class="description" data-description="{{ d[i].description }}">{{ d[i].description }}</span>
			</p>
			<p class="keywords col-sm-5 col-lg-6 col-sm-offset-3 col-lg-offset-2"><strong>关键词：</strong><span>{{ d[i].keywords }}</span></p>
			<p class="button">
				<button class="btn btn-primary">编辑</button>
				<button class="btn btn-danger">删除</button>
			</p>
		</li>
	{{# } }}
</script>