<header>
	<div class="pull-right">
		<button class="btn btn-success" id="header-button-submit-form">添加新会员</button>
		<button class="btn btn-success" id="header-button-submit-form">全选当页会员</button>
		<button class="btn btn-success" id="header-button-submit-form">删除所选会员</button>
	</div>
</header>
<section class="iframe-main">
	<div class="list-main">
		<ul></ul>
	</div>

	<div id="list-pages">
	</div>
</section>

<script type="text/javascript">
	require(['js/memebrIndex']);
</script>