<header>
	<div class="pull-left">
		<button class="btn btn-success" id="header-button-submit-form">添加新会员</button>
	</div>
	<div class="pull-right">
		<!-- <button class="btn btn-success" id="header-button-submit-form">全选当页会员</button>
		<button class="btn btn-danger" id="header-button-submit-form">删除所选会员</button> -->
	</div>
</header>
<section class="iframe-main">
	<div class="list-main">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th width="15%">编号</th>
					<th width="20%">用户名</th>
					<th width="15%">管理员</th>
					<th width="20%">注册时间</th>
					<th width="30%">操作</th>
				</tr>
			</thead>
			<tbody>
				{foreach $member as $v}
					<tr data-id="{$v.id}">
						<td>{$v.id}</td>
						<td>{$v.username}</td>
						<td>{eq name="v.is_admin" value="1"}是{else /}否{/eq}</td>
						<td>{$v.create_time|date="y-m-d H:i:s",###}</td>
						<td>
							<button class="btn btn-primary">查看</button>
							<button class="btn btn-warning">编辑</button>
							<button class="btn btn-danger">删除</button>
						</td>
					</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
	<div id="list-pages">
		{$member->render()}
	</div>
</section>

<script type="text/javascript">
	//require(['js/memberIndex']);
</script>