<header>
	<div class="pull-left">
		<!-- <button class="btn btn-danger" id="header-button-empty-form">清空表单</button> -->
		<button class="btn btn-success" id="header-button-submit-form">提交核销</button>
	</div>
</header>
<section class="iframe-main">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="phone" class="col-sm-1 control-label">手机号：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="phone" placeholder="请输入手机号码">
			</div>
		</div>
		<div class="form-group">
			<label for="code" class="col-sm-1 control-label">兑换码：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="code" placeholder="请输入纯数字的兑换码，不需要中间的“-”。">
			</div>
		</div>
	</form>
</section>
<script type="text/html" id="goods">
	<div class="box">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th width="180">商品图片</th>
					<th width="260">商品名称</th>
					<th width="160">兑换数量</th>
				</tr>
			</thead>
			<tbody>
				{{# for(var i = 0, len = d.goods.length; i < len; i++){ }}
				<tr>
					<td><img src="{{d.goods[i].thumbnail}}"></td>
					<td>{{d.goods[i].title}}</td>
					<td>1</td>
				</tr>
				{{# } }}
			</tbody>
		</table>
	</div>
</script>
<script type="text/javascript">
	require(['jquery', 'laytpl', 'layer', 'eh.xhr'], function($, laytpl){

		$('#header-button-submit-form').click(function() {
			var index = eh.xhr.loadPrompt({'str': '正在核销...'});

			var phone = $('#phone').val(),
				code = $('#code').val();

			eh.xhr.post('/order/point.html', {'phone': phone, 'code': code}, {
				success: function(response){
					layer.close(index);
					$('#phone, #code').val('');

					laytpl($('#goods').html()).render(response.data, function(html){
						layer.open({
							type: 1,
							content: html,
							area: '600px',
							title: '核销商品列表'
						});
					});

					layer.msg(response.msg, {'icon': 6, 'time': 1000});
				}
			});
		});
	});
</script>